body {
    font-family: "Cairo", sans-serif;
    background: linear-gradient(135deg,#6a11cb,#2575fc);
    color: #f3eeee;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box, .card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

input, select {
    background: rgba(255,255,255,0.2);
    color: #0d0a11;
}

input::placeholder {
    color: rgba(255,255,255,0.7);
}

button {
    background: #ff4081;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e00070;
}

.subject-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.subject-row label {
    width: 60%;
}

.subject-row input {
    width: 35%;
}

.card p {
    margin: 8px 0;
}



